* {
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body{

	font-family: 'Playfair Display', serif;
	line-height: 1.5em;
	background:white;
	font-size: 1em;
}

h1{
	margin: 20px;
	font-size: 30px;
	text-transform: uppercase;
	color: black;
	letter-spacing: 1px;
}

.main{
	width: 80%;
	margin: 100px auto;
	padding: 50px;
}


ul{
	list-style: none;
}
 
ul li{
	color: #fc8302;
}

a:link{
	color: #fc8302;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

a:visited {
	color: #fc8302;
}


